{% load static %}
<div class="section_footer">
    <div class="container">
        <div class="mail_section">
            <div class="row">
                <div class="col-sm-6 col-lg-2">
                    <div><a href="#"><img src="{%static 'shoes/images/footer-lo.png'%}" width="130"></a></div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="footer-logo"><span class="map_text">(+7)9528655947</span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-logo"><span class="map_text">info.customizer_place@mail.ru</span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="social_icon">
                        <ul>
                            <li><a href="#"><img src="{%static 'shoes/images/fb-icon.png'%}"></a></li>
                            <li><a href="#"><img src="{%static 'shoes/images/twitter-icon.png'%}"></a></li>
                            <li><a href="#"><img src="{%static 'shoes/images/in-icon.png'%}"></a></li>
                            <li><a href="#"><img src="{%static 'shoes/images/google-icon.png'%}"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="footer_section_2">
            <div class="row">
                <div class="col-sm-4 col-lg-2">
                    <p class="dummy_text">Customizer Place - маркетплейс кастомной одежды </p>
                </div>
                <div class="col-lg-2">
                    <h2 class="shop_text">Адрес </h2>
                    <div class="image-icon"><span class="pet_text">352380, Краснодарский край, г. Кропоткин, ул. Вокзальная, д. 78</span>
                    </div>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-3">
                    <h2 class="shop_text">Компания</h2>
                    <div class="delivery_text">
                        <ul>
                            <li>Доставка</li>
                            <li>Политика конфиденциальности</li>
                            <li>Публичная оферта</li>
                            <li>О нас</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h2 class="adderess_text">Товары</h2>
                    <div class="delivery_text">
                        <ul>
                            <li>Магазин</li>
                            <li>Коллекции</li>
                            <li>ЧаВо</li>
                            <li>Контакты</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <h2 class="adderess_text">Рассылка</h2>
                    <div class="form-group">
                        <input type="text" class="enter_email" placeholder="Введите почту" name="Name">
                    </div>
                    <button class="subscribr_bt">Подписаться</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section footer end -->
<div class="copyright">2023 Все права защищены. <a href="{%static 'https://html.design'%}">Customizer Place</a></div>
</div>
