{% load static %}
<div class="carousel-inner">
    <div class="carousel-item active">
        <div class="row">
            <div class="col-sm-2 padding_0">
                <p class="mens_taital">Men Shoes</p>
                <div class="page_no">0/2</div>
                <p class="mens_taital_2">Men Shoes</p>
            </div>
            <div class="col-sm-5">
                <div class="banner_taital">
                    <h1 class="banner_text">New Running Shoes </h1>
                    <h1 class="mens_text"><strong>Men's Like Plex</strong></h1>
                    <p class="lorem_text">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                    <button class="buy_bt"><a href="{% url 'achat' %}">Buy Now </a></button>
                    <button class="more_bt">
                        <a class="nav-item nav-link" href="{% url 'shoes' %}">
                            See More
                        </a>
                    </button>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="shoes_img"><img src="{%static 'shoes/images/running-shoes.png'%}"></div>
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="row">
            <div class="col-sm-2 padding_0">
                <p class="mens_taital">Shoes 1</p>
                <div class="page_no">0/2</div>
                <p class="mens_taital_2">Shoes 1</p>
            </div>
            <div class="col-sm-5">
                <div class="banner_taital">
                    <h1 class="banner_text">New Running Shoes </h1>
                    <h1 class="mens_text"><strong>Men's Like Plex</strong></h1>
                    <p class="lorem_text">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                    <button class="buy_bt">Buy Now</button>
                    <button class="more_bt">See More</button>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="shoes_img"><img src="{%static 'shoes/images/running-shoes.png'%}"></div>
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="row">
            <div class="col-sm-2 padding_0">
                <p class="mens_taital">Shoes 2</p>
                <div class="page_no">1/2</div>
                <p class="mens_taital_2">Shoes 2</p>
            </div>
            <div class="col-sm-5">
                <div class="banner_taital">
                    <h1 class="banner_text">New Running Shoes </h1>
                    <h1 class="mens_text"><strong>Men's Like Plex</strong></h1>
                    <p class="lorem_text">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                    <button class="buy_bt">Buy Now</button>
                    <button class="more_bt">See More</button>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="shoes_img"><img src="{% static 'shoes/images/running-shoes.png' %}"></div>
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="row">
            <div class="col-sm-2 padding_0">
                <p class="mens_taital">Shoes 3</p>
                <div class="page_no">2/2</div>
                <p class="mens_taital_2">Shoes 3</p>
            </div>
            <div class="col-sm-5">
                <div class="banner_taital">
                    <h1 class="banner_text">New Running Shoes </h1>
                    <h1 class="mens_text"><strong>Men's Like Plex</strong></h1>
                    <p class="lorem_text">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                    <button class="buy_bt">Buy Now</button>
                    <button class="more_bt">See More</button>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="shoes_img"><img src="{% static 'shoes/images/running-shoes.png' %}"></div>
            </div>
        </div>
    </div>
</div>
