<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <title>{{request.user}} Shop</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <style>
        .image-thumbail {
            height: 200px;
            object-fit: cover;
        }

        .list-group-item a {
            text-decoration: none;
            color: black;
        }
        .perso{
	        background-image: url (../images/bg.jpg);
		    background-repeat:no-repeat;
		    height: 100vh;
        }



    </style>
</head>

<body class="perso m-5 ">
{% if request.user %}
<a href="{% url 'owner_list' %}" class="btn btn-dark my-3">Go Back</a>
{%else%}
<a href="{% url 'shoes' %}" class="btn btn-dark my-3">Go Back</a>
{%endif%}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% if request.user.is_authenticated %}
            <p>Hello {{request.user}}</p>
            {% endif %}
            <div class="card">
                <div class="card-header">
                    Categories
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{% url 'owner_shoes_list' %}">Shoes</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'owner_collection_list' %}">Collections</a>
                    </li>
                    <a href="{% url 'add_collections' %}" class="btn btn-dark btn-block btn-sm m-1">Add Collections</a>
                    <a href="{% url 'add_shoes' %}" class="btn btn-info btn-block btn-sm m-1">Add Shoes</a>
                    <a href="{% url 'logout' %}" class="btn btn-danger btn-block btn-sm m-1">Logout</a>
                </ul>
            </div>

        </div>
        <div class="col-md-9">
            <div class="row">
                {% for article in articles %}

                <div class="col-md-4">
                    <div class="card my-2">
                        <img class="image-thumbail" src="{{article.cover.url}}" alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title"><strong>{{article.name}}</strong></h5>
                            <a class="card-text"><strong>₽{{article.price}}</strong></a>

                        </div>
                        {% if article in shoes %}
                        <div class="right_part" style="float: right; margin:auto">
                            <a href="{% url 'update_shoes' article.id %}"
                               class="btn btn-outline-dark btn-sm m-1">Edit</a>
                            <a href="{% url 'delete_shoes' article.id %}" class="btn btn-outline-danger btn-sm m-1">Delete</a>
                            <!--                        <button onclick="document.getElementById('id0').style.display='block'" class="w3-button w3-red">Delete</button>-->
                            <!--                              <div id="id0" class="w3-modal">-->
                            <!--                            <div class="w3-modal-content" style="width: 400px;">-->
                            <!--                              <div class="w3-container">-->
                            <!--                                <span onclick="document.getElementById('id0').style.display='none'" class="w3-button w3-display-topright">&times;</span>-->
                            <!--                                  <p><strong> <i> Do You Want To Delete {{article.name}}?</i> </strong></p>-->
                            <!--                                <p><a href="{% url 'delete_shoes' article.id %}" class="btn btn-outline-danger btn-sm m-1">Yes</a></p>-->
                            <!--                              </div>-->
                            <!--                            </div>-->
                            <!--                          </div>-->
                        </div>
                        <a href="{% url 'detail' article.id %}" class="btn btn-outline-info btn-sm m-1">Description</a>
                        {%endif%}
                        {% if article in collections %}
                        <div class="right_part" style="float: right; margin:auto">
                            <a href="{% url 'detail_collection' article.id %}" class="btn btn-outline-dark btn-sm m-1">Edit</a>
                            <a href="{% url 'delete_collection' article.id %}"
                               class="btn btn-outline-danger btn-sm m-1">Delete</a>
                        </div>
                        <!--                        <button onclick="document.getElementById('id02').style.display='block'" class="w3-button w3-red">Delete</button>-->
                        <!--                            <div id="id02" class="w3-modal">-->
                        <!--                            <div class="w3-modal-content" style="width: 400px;">-->
                        <!--                              <div class="w3-container">-->
                        <!--                                <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>-->
                        <!--                                  <p><strong> <i> Do You Want To Delete {{article.name}}? </i> </strong></p>-->
                        <!--                                <p style="text-center"><a href="{% url 'delete_collection' article.id %}" class="btn btn-outline-danger btn-sm m-1">Yes</a></p>-->
                        <!--                              </div>-->
                        <!--                            </div>-->
                        <!--                          </div>-->
                        <!--                        </div>-->
                        <a href="{% url 'detail_collection' article.id %}" class="btn btn-outline-info btn-sm m-1">Description</a>
                        {%endif%}
                    </div>
                </div>
                {% empty %}
                <h3>No photos...</h3>
                {% endfor %}

            </div>
        </div>
        <!--Pagination-->
        <div class="container p-4">
            <div class="pagination justify-content-center">
            <span class="step-links">
              {% if articles.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ articles.previous_page_number }}">previous</a>
              {% endif %}

                <span class="current">
                    Page {{ articles.number }} of {{ articles.paginator.num_pages }}
                </span>

              {% if articles.has_next %}
                  <a href="?page={{ articles.next_page_number }}">next</a>
                  <a href="?page={{ articles.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
            </div>
        </div>
        <!--end of Pagination-->
    </div>
</div>
</body>

</html>
