<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body class="m-5">
<a href="{% url 'owner_list' %}" class="btn btn-dark my-3">Go Back</a>
<div class="container">
    <div class="row">
        {% for article in articles %}
        <div class="col-md-4">
            <div class="card my-2">
                <img class="image-thumbail" style="height: 35vh;" src="{{article.cover.url}}" alt="Card image cap">

                <div class="card-body">
                    <h5 class="card-title"><strong>{{article.name}}</strong></h5>
                    <a class="card-text"><strong>{{article.price}} Р</strong></a>
                </div>
                <a href="{% url 'detail' article.id %}" class="btn btn-outline-dark btn-sm m-1">Описание</a>
            </div>
        </div>
        {% empty %}
        <h3>Пусто...</h3>
        {% endfor %}

    </div>
</div>
<!--Pagination-->
<div class="container p-4">
    <div class="pagination justify-content-center">
            <span class="step-links">
              {% if articles.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ articles.previous_page_number }}">previous</a>
              {% endif %}

                <span class="current">
                    Страница {{ articles.number }} из {{ articles.paginator.num_pages }}
                </span>

              {% if articles.has_next %}
                  <a href="?page={{ articles.next_page_number }}">next</a>
                  <a href="?page={{ articles.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
    </div>
</div>
<!--end of Pagination-->
</body>

</html>
