[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-taggit = "*"
markdown ="*"
django-extensions = "*"
asgiref="*"
backports.zoneinfo="*"
beautifulsoup4="*"
certifi="*"
charset-normalizer="*"
coreapi="*"
coreschema="*"
dj-database-url="*"
django-bootstrap-v5="*"
django-bootstrap4="*"
django-bootstrap5="*"
django-debug-toolbar="*"
django-filter="*"
django-on-heroku="*"
django-split-settings="*"
djangorestframework="*"
drf-yasg="*"
gunicorn="*"
idna="*"
inflection="*"
itypes="*"
Jinja2="*"
MarkupSafe="*"
packaging="*"
Pillow="*"
psycopg2-binary="*"
pyparsing="*"
pytz="*"
requests="*"
ruamel.yaml="*"
ruamel.yaml.clib="*"
soupsieve="*"
sqlparse="*"
uritemplate="*"
urllib3="*"
whitenoise="*"

[requires]
python_version = "3.8.10"
